
body {
  margin: 2px;
  padding: 2px;
  font-family: arial;
  color:rgb(98, 20, 233);}
h1 {
    text-align:center;
    text-decoration:underline;
    
}
.navbar {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  border: solid black;
  background-color:greenyellow

}
p {
    text-align:justify;
    text-indent: 100px;
}

background {
    background-color:rgb(221, 15, 15);
}
ul li {
    display:inline;

}
li a {
    text-decoration:none;

}
#logo {
    border: solid white;
    border-radius: 50%;
    border-radius: 50%;
}
.farmer {background-color: #dbe5db;
    padding-bottom: 2px;
    text-align: left;
    border: 1px solid black;
    margin: 20px 50px 50px 50px;


}
footer{
    background-color:rgb(16, 216, 76);}
    a:active {
    color: yellow;
    background-color: transparent;
}   
a:visited {
    color: grey;
    background-color: transparent;
}
a:link {
    color:rgb(4, 248, 4);
    background-color: transparent;
}       
a:hover {
    color: maroon;
}    
.farmer {
    background-color: #dbe5db;
    padding-bottom: 2px;
    text-align: left;
    border: 1px solid black;
    margin: 20px 50px 50px 50px;
    display: flex;
}   